<section class='bg-slate-100'>
    <div class='container md:w-3/4 mx-auto py-6 px-2'>
      
        <div class="grid md:grid-cols-2 gap-10 items-center">

        <!-- Text -->
        <div>
            <h2 class="text-3xl font-bold mb-4">Who We Are</h2>
            <p class="text-gray-600 leading-relaxed">
                Eventora is a modern event marketplace designed to help people discover, explore, 
                and attend amazing experiences. From concerts and festivals to workshops and conferences, 
                we make it simple for attendees to find events that inspire them.
            </p>

            <p class="mt-4 text-gray-600 leading-relaxed">
                For creators and organizers, we offer powerful tools for hosting events, 
                selling tickets, tracking earnings, and reaching new audiences — all in one smooth platform.
                Our mission is simple: make events accessible, enjoyable, and easier to manage.
            </p>
            </div>

            <!-- Image -->
            <div>
            <img 
                src="https://images.unsplash.com/photo-1531058020387-3be344556be6?auto=format&q=80&w=1080"
                class="rounded-2xl shadow-lg"
            />
            </div>

        </div>

    </div>

</section>