<div id='event-list' class='relative container   mx-auto pb-4'>

    {% include "core/partials/spinner.html" %}
    
    {% if events %}

    <div class='grid p-6 grid-cols-1  sm:grid-cols-2 md:grid-cols-3  gap-6 lg:grid-cols-4  '>
        {% for event in events %}
        
        <!-- Event Card -->
        <div class="group bg-white rounded-2xl shadow-md hover:shadow-xl transition-all duration-300 overflow-hidden md:h-88 flex flex-col">

        <!-- Card Image -->
        <div class="relative h-56 md:h-60 overflow-hidden">
            <img src="{{ event.banner.url }}" alt="{{ event.title }}"
            class="w-full h-full object-cover rounded-t-2xl transform transition-transform duration-500 group-hover:scale-110">

            {% if event.event_tag == 'free' %}
            <span class="absolute top-3 left-3 bg-green-500/90 text-white text-xs font-semibold px-3 py-1.5 rounded-full shadow-md">
                {{ event.event_tag|title }}
            </span>
            {% else %}
            <span class="absolute top-3 left-3 bg-amber-500/90 text-white text-xs font-semibold px-3 py-1.5 rounded-full shadow-md backdrop-blur-sm">
                {{ event.event_tag|title }}
            </span>
            {% endif %}
        </div>

        <!-- Card Content -->
        <div class="flex flex-col justify-between grow p-4 md:p-5">
            <div>
            <p class='flex items-center gap-1 mb-2'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z" clip-rule="evenodd" />
                </svg>

                <span>{{event.category}}</span>
            </p>
            <h3 class="text-lg md:text-xl font-semibold text-gray-900 capitalize mb-1 group-hover:text-amber-600 transition">
                {{ event.title }}
            </h3>
            <p class="text-gray-500 text-sm mb-3 truncate">
                {{ event.description }}
            </p>
            <p class="flex items-center gap-1 text-gray-500 text-sm mb-3 truncate">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="size-5">
                <path fill-rule="evenodd" d="M18 2.993a.75.75 0 0 0-1.5 0v1.5h-9V2.994a.75.75 0 1 0-1.5 0v1.497h-.752a3 3 0 0 0-3 3v11.252a3 3 0 0 0 3 3h13.5a3 3 0 0 0 3-3V7.492a3 3 0 0 0-3-3H18V2.993Z" clip-rule="evenodd" />
                </svg>
                {{ event.date }}
            </p>
            <p class="flex items-center gap-1 text-gray-500 text-sm mb-3 truncate">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
                </svg>

                {{ event.location }}
            </p>
        </div>

            <div class="flex justify-between items-center mt-auto">
            <span class="text-amber-600 font-bold text-lg">GH₵ {{ event.price }}</span>
            <a href="{% url 'event-detail' event.id %}"
                class="text-sm font-medium text-blue-700 hover:text-blue-500 transition">
                View Details →
            </a>
            </div>
        </div>
        </div>

            {% endfor %}
    {% else %}
    <div role="alert" class="alert alert-info mt-4 mb-6 mx-1 md:mx-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span class='text-white text-lg font-semibold'>your search matches no event</span>
    </div>
    {% endif %}
    </div>

    {% comment %} <!--pagination navs-->
    <div class="join grid grid-cols-2 py-4">
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="join-item btn btn-outline disabled">Previous page</a>
        <a href="" class="join-item btn btn-outline">Next page</a>
        {% endif %}
     
    </div> {% endcomment %}
</div>
