{% load static %}
<div class="bg-[url('{% static "images/model.jpeg" %}')] 
    bg-cover bg-center h-screen md:h-screen  md:mb-6
    relative   
    ">
    <div class='absolute inset-0 bg-black opacity-50'></div>

    <div class="relative z-10 flex flex-col items-center justify-center text-center py-24 px-6 lg:py-36">
        <h1 class="text-4xl text-center sm:text-5xl lg:text-6xl font-extrabold text-white mb-4 leading-tight drop-shadow-lg">
        Your Ticket to Every <br> Moment <br> That Matters
        </h1>
        <p class="max-w-2xl text-lg sm:text-xl text-gray-100 mb-8">
        From local meetups to major concerts — book your seat, skip the hassle, and enjoy the experience.
        </p>

        <div class="flex flex-col sm:flex-row gap-4">
        <a href="#event_categories" class="bg-[#de9d2b] hover:bg-[#de9d2b]/80 text-white font-semibold px-8 py-3 rounded-full shadow-lg transition transform hover:-translate-y-1 hover:scale-105">
            Find Events
        </a>
        <a href="#host" class="bg-transparent text-white border-2 border-white hover:bg-white hover:text-black font-semibold px-8 py-3 rounded-full shadow-lg transition transform hover:-translate-y-1 duration-200 hover:scale-105">
            Host an Event
        </a>
    </div>

</div>









