<header class='fixed top-0 left-0 z-50 
              w-full bg-[#acbdaa]
              shadow-md flex justify-between 
              items-center  
              px-4 
              md:px-12
              h-12
              md:h-20
              transition-all duration-300
              '
              :class="{'md:h-20': ! scrollFromTop, 'md:h-12': scrollFromTop}"
              >
  <!--logo-->
  <a href="/" >
    <span 
      class='h-4 
      text-[#de9d2b] 
      text-2xl
      font-bold
      md:text-2xl
      transition-all duration-300
      '
      :class="{'md:text-2xl': ! scrollFromTop, 'md:text-lg': scrollFromTop}"
      >
      EventTribe
    </span>

  </a>

  <nav>
    <button class="md:hidden" @click="navbarOpen = ! navbarOpen">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
        <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
      </svg>

    </button>

    <ul class='fixed top-12 left-10 
        w-full min-h-screen 
        space-y-4 
        bg-[#acbdaa] p-4
        transition duration-300
        transform
        translate-x-full
        md:relative md:space-y-0 md:space-x-6 md:p-0
        md:min-h-0 md:left-0
        md:translate-x-0
        md:flex md:items-center
        md:top-0
        '
        :class="{
          'translate-x-0': navbarOpen,
          'translate-x-full': ! navbarOpen,
        }">
      
      <li class=''><a href="">home</a></li>
      <li class=''><a href="">home</a></li>
      <li class=''><a href="">home</a></li>

      <div class="md:hidden border-t py-4 border-gray-800  flex justify-center items-center">
        <a href="">
          <button type="button" class="py-2.5 px-5 me-2 mb-2 mr-2 w-80 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Login
          </button>

        </a>

      </div>
    </ul>
    
  </nav>

</header>