<!DOCTYPE html>
<html lang="en" class='scroll-smooth duration-400'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Booking</title>

    <!--tailwindcss cdn-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!--flowbite cdn-->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <!--daisy ui-->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
     <!--htmx cdn-->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <!--alpinejs cdn-->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.1/dist/cdn.min.js"></script>
    <!--flatpickr-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Fira+Code:wght@300..700&family=Gidole&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

        body{
            font-family: Poppins;
        }
    </style>
</head>
<body 
    x-data="{
        navbarOpen:false, 
        scrollFromTop: false,

        }" 
    x-init="console.log(window.pageYOffset > 60 ? scrollFromTop = true : scrollFromTop = false)"
    @scroll.window="console.log(window.pageYOffset > 60 ? scrollFromTop = true : scrollFromTop = false)"
    :class="{
        'overflow-hidden': navbarOpen,
        'overflow-auto': ! navbarOpen,
    }"
    >

    {% include "core/partials/navbar.html" %}
    
    {% block content %}
    
    {% endblock content %}

    {% include "core/partials/footer.html" %}

    
    <script src="/path/to/htmx.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

    
        
     <script>
        document.body.addEventListener("htmx:configRequest", (event) => {
            event.detail.headers["X-CSRF-Token"] = "{{ csrf_token}}"
        });
     </script>

     {% comment %} <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie("csrftoken");
        </script> {% endcomment %}


     <!-- HMTL5 qrcode scanner-->
      <script src="https://unpkg.com/html5-qrcode"></script>

     <script>
        document.addEventListener("DOMContentLoaded", function () {

            const resultBox = document.getElementById("resultBox");
            let lastScanned = null;
            let cooldown = false;

            function showMessage(type, text) {
                resultBox.className = "mt-4 p-4 rounded-xl border shadow";
                
                if (type === "success") {
                    resultBox.classList.add("bg-green-50","border-green-300","text-green-700");
                } else if (type === "warning") {
                    resultBox.classList.add("bg-yellow-50","border-yellow-300","text-yellow-700");
                } else {
                    resultBox.classList.add("bg-red-50","border-red-300","text-red-700");
                }

                resultBox.innerHTML = text;
            }

            async function verifyTicket(ticketCode) {
                try {
                    const response = await fetch(`/booking-event/verify-ticket-by-scan/?ticket_id=${ticketCode}`);

                    if (!response.ok) {
                        showMessage("error", "Something went wrong verifying ticket.");
                        return;
                    }

                    const data = await response.json();

                    // Handle Results
                    if (data.valid && data.status === "success") {
                        showMessage("success", `
                            <strong>Check-in Successful!</strong><br>
                            Event: ${data.event}<br>
                            Attendee: ${data.attendee}
                        `);
                    } 
                    else if (data.status === "already") {
                        showMessage("warning", `
                            <strong>Already Checked In!</strong><br>
                            ${data.message}
                        `);
                    }
                    else if (data.status === "unathorized") {
                        showMessage("error", `<strong>Unauthorized!</strong> Ticket not for your event.`);
                    }
                    else if (data.status === "inactive") {
                        showMessage("error", `<strong>Event Not Active!</strong> Ticket is not valid for today.`);
                    }
                    else {
                        showMessage("error", `<strong>Invalid Ticket!</strong> Ticket not found.`);
                    }

                } catch (err) {
                    console.error(err);
                    showMessage("error", "Network error. Try again.");
                }
            }

            function onScanSuccess(decodedText) {

                // Prevent spam scanning same code
                if (cooldown || decodedText === lastScanned) return;
                lastScanned = decodedText;
                cooldown = true;

                verifyTicket(decodedText);

                setTimeout(() => cooldown = false, 2000);
            }

            function onScanError(error) {
                console.warn(error);
            }

            // QR Scanner
            const qrScanner = new Html5QrcodeScanner("qr-reader", {
                fps: 10,
                qrbox: 250,
                rememberLastUsedCamera: true,
            });

            qrScanner.render(onScanSuccess, onScanError);
        });
        </script>



    
      


    
</body>
</html>