{% extends "core/base.html" %}
{% load static %}
{% load group_filters %}

{% block content %}

<!--hero section-->
<section class=''>
    {% comment %} <div class='h-screen' >
        {% include "core/partials/carousel.html" %}
    </div> {% endcomment %}

    {% include "core/partials/hero.html" %}

    
</section>

<!--categories-->
<section class='bg-white'>
    {% include "core/partials/event_categories.html" %}

</section>

<!--upcoming events-->
<section  class='bg-slate-50'>
    {% include "core/partials/searchbox.html" %}
    
    <h1 class='text-2xl md:text-3xl font-bold text-gray-900 text-center'>All Events</h1>

    {% include "core/partials/events_section.html" %}

    <div class="max-100  mx-auto p-4 flex justify-center items-center">

        <a href="{% url 'browse-event'%}" 
        class="bg-transparent text-blue-800 border-2 border-white 
                hover:bg-white hover:text-black font-semibold px-8 py-3 
                rounded-full shadow-lg transition transform hover:-translate-y-1 
                duration-200 hover:scale-105">
            Browse All Event
        </a>
    </div>
</section>

<!-- advertisement section-->
{% include "core/partials/advertisement.html" %}

{% include "core/partials/about_us.html" %}

<section>
    {% include "core/partials/contact_us.html" %}
</section>

{% endblock content %}


